img.profile{
    margin-left: 10px;
    margin-right: 10px;
}

.colored-header{
    background-color: #e3ebee;
    margin-bottom: 30px;
}

.circle{
    width:30px;
    height:30px;
    background: #eee;
    padding: 0px 11px 0px 11px;
    border-radius: 100%;
}

.container{
    max-width: 900px;
}

.step-detail{
    margin-left: 45px;
}

ul.step-detail{
    margin-left: 25px;
}

li.step-detail{
    margin-top: 10px;
    border:1px solid grey;
}

li.step-detail:first-child {
    margin-top:0;
}
